.container {
	position: absolute;
	width: 300px;
	height: 600px;
	background-color:#fff;
	overflow: hidden;
	border:black solid 1px;
}

#frame{
	top:0;
	left: 0;
	opacity: 0;
	
}


#yellowBk{
	position: absolute;
	width: 300px;
	height: 460px;
	background-color: #d6af23;
	top: 600px;
	left: 0px;
	overflow: hidden;

	-webkit-animation: yellowBk_animation 10s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;

	-moz-animation: yellowBk_animation 10s;
	-moz-animation-delay: 0s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-out;

	animation: yellowBk_animation 10s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	
}
#ring{
	position: absolute;
    top: -61px;
    left: 107px;
    transform: rotate(342deg);
}

#whiteBox{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 300px;
	height: 140px;
	background-color: #fff;
}

#logo{
	position: absolute;
	top: 20px;
	left: 72px;
	opacity: 0;

	-webkit-animation: logo_animation 1s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;

	-moz-animation: logo_animation 1s;
	-moz-animation-delay: 0s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-out;

	animation: logo_animation 1s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

#Frame1_text01B{
	position: absolute;
	top: 244px;
	left: 24px;
	opacity: 0;

	-webkit-animation: Frame1_text01B_animation 10s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;

	-moz-animation: Frame1_text01B_animation 10s;
	-moz-animation-delay: 0s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-out;

	animation: Frame1_text01B_animation 10s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

#Frame2_text02A{
	position: absolute;
	top: 270px;
	left: 39px;
	opacity: 0;

	-webkit-animation: Frame2_text02A_animation 10s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;

	-moz-animation: Frame2_text02A_animation 10s;
	-moz-animation-delay: 0s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-out;

	animation: Frame2_text02A_animation 10s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

#Frame2_text02B{
	position: absolute;
	top: 317px;
	left: 102px;
	opacity: 0;

	-webkit-animation: Frame2_text02B_animation 10s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;

	-moz-animation: Frame2_text02B_animation 10s;
	-moz-animation-delay: 0s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-out;

	animation: Frame2_text02B_animation 10s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

#Frame2_text02C{
	position: absolute;
	top: 411px;
	left: 24px;
	opacity: 0;

	-webkit-animation: Frame2_text02C_animation 10s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;

	-moz-animation: Frame2_text02C_animation 10s;
	-moz-animation-delay: 0s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-out;

	animation: Frame2_text02C_animation 10s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

/*
.pop{
	font-size: 18px;
    font-family: century gothic;
    text-align: center;
    text-transform: uppercase;
    color: #642424;
    letter-spacing: 1px;
}

#Frame3_text03A{
	position: absolute;
	top: 253px;
	left: 79px;
	opacity: 0;
}

#Frame3_text03B{
	position: absolute;
	top: 335px;
	left: 75px;
	opacity: 0;
}

#Frame3_text03C{
	position: absolute;
	top: 415px;
	left: 84px;
	opacity: 0;
}

#Frame3_text03D{
	position: absolute;
	top: 497px;
	left: 75px;
	opacity: 0;
}

#yellowBox{
	height:83px;
	width: 300px;
	background-color: #d6af23;
	position: absolute;
	top: 373px;
	/*top: -48px;*/
	/*left: 300px;
	
}*/

#Frame4_text04A{
	position: absolute;
	/*top: 173px;
	left: 37px;*/
	opacity: 0;
	top:394px;
	left:37px;

	-webkit-animation: Frame4_text04A_animation 10s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;

	-moz-animation: Frame4_text04A_animation 10s;
	-moz-animation-delay: 0s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-out;

	animation: Frame4_text04A_animation 10s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

#Frame4_text04B{
	position: absolute;
	top:417px;
	left: 132px;
	/*top: 173px;
    left: 132px;*/
    opacity: 0;

    -webkit-animation: Frame4_text04B_animation 10s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;

	-moz-animation: Frame4_text04B_animation 10s;
	-moz-animation-delay: 0s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-out;

	animation: Frame4_text04B_animation 10s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

#Frame4_text04C{
	position: absolute;
	top: 200px;
	left: 32px;
	opacity: 0;

	animation: Frame4_text04C_animation 10s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;

	-moz-animation: Frame4_text04C_animation 10s;
	-moz-animation-delay: 0s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-out;

	-webkit-animation: Frame4_text04C_animation 10s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;
}

#Frame4_text04D{
	position: absolute;
	top: 256px;
	left: 32px;
	opacity: 0;

	-moz-animation: Frame4_text04D_animation 10s;
	-moz-animation-delay: 0s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-out;

	-webkit-animation: Frame4_text04D_animation 10s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;

	animation: Frame4_text04D_animation 10s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

#Frame4_text04E{
	position: absolute;
	top: 318px;
	left: 32px;
	opacity: 0;

	-webkit-animation: Frame4_text04E_animation 10s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;

	-moz-animation: Frame4_text04E_animation 10s;
	-moz-animation-delay: 0s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-out;

	animation: Frame4_text04E_animation 10s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

#Frame4_text04F{
	position: absolute;
	top: 201px;
	left: 159px;
	opacity: 0;

	-webkit-animation: Frame4_text04F_animation 10s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;

	-moz-animation: Frame4_text04F_animation 10s;
	-moz-animation-delay: 0s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-out;

	animation: Frame4_text04F_animation 10s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

#Frame4_text04G{
	position: absolute;
	top: 256px;
	left: 159px;
	opacity: 0;

	-webkit-animation: Frame4_text04G_animation 10s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;

	-moz-animation: Frame4_text04G_animation 10s;
	-moz-animation-delay: 0s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-out;

	animation: Frame4_text04G_animation 10s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

#Frame4_text04H{
	position: absolute;
	top: 318px;
	left: 159px;
	opacity: 0;

	-webkit-animation: Frame4_text04H_animation 10s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;

	-moz-animation: Frame4_text04H_animation 10s;
	-moz-animation-delay: 0s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-out;

	animation: Frame4_text04H_animation 10s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

#Frame4_text04I{
	position: absolute;
	top: 600px;
	left: 45px;
	opacity: 0;

	animation: Frame4_text04I_animation 10s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;

	-webkit-animation: Frame4_text04I_animation 10s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;

	-moz-animation: Frame4_text04I_animation 10s;
	-moz-animation-delay: 0s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-out;
}

#Frame4_text04J{
	position: absolute;
	top: 600px;
	left: 49px;
	opacity: 0;

	-webkit-animation: Frame4_text04J_animation 10s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;

	-moz-animation: Frame4_text04J_animation 10s;
	-moz-animation-delay: 0s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-out;

	animation: Frame4_text04J_animation 10s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

#Frame4_text04K{
	position: absolute;
	top: 600px;
	left: 64px;
	opacity: 0;

	-webkit-animation: Frame4_text04K_animation 10s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;

	-moz-animation: Frame4_text04K_animation 10s;
	-moz-animation-delay: 0s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-out;

	animation: Frame4_text04K_animation 10s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

#Frame4_text04L{
	position: absolute;
	top: 600px;
	left: 167px;
	opacity: 0;

	-webkit-animation: Frame4_text04L_animation 10s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;

	-moz-animation: Frame4_text04L_animation 10s;
	-moz-animation-delay: 0s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-out;

	animation: Frame4_text04L_animation 10s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

#giBut{
	position: absolute;
	top: 600px;
	left: 53px;
	opacity: 0;

	-webkit-animation: giBut_animation 10s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;

	-moz-animation: giBut_animation 10s;
	-moz-animation-delay: 0s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-out;

	animation: giBut_animation 10s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

#closeBut{
	position: absolute;
	left:243px;
	top: 0px;
}

#info{
	position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    background-color: white;
    width: 291px;
    height: 600px;
	display: none;
font-size: 15.5px;
    line-height: 1.4;
    font-family: century gothic;
    text-align: center;
    padding: 5px;
    padding-top: 11px;
}

/*CHROME*/
@-webkit-keyframes logo_animation {
	0% {transform: scale(5,5); opacity: 0; left: 72px;}
	1% {tranform: scale(1,1); opacity: 1; left: 42px;}
	100% {tranform: scale(1,1); opacity: 1; left:42px;}
}

@-webkit-keyframes yellowBk_animation {
	0% { top: 600px;}
	12% {top: 140px;}
	84% {top: 140px;}
	88%{top:-48px;}
	100% {top: -48px;}
}

@-webkit-keyframes Frame1_text01B_animation {
	0% {top: 244px; opacity: 0;}
	12% {top: 244px; opacity: 0;}
	18% {top:224px; opacity: 1;}
	38% {top:224px; opacity: 1;}
	41% {top:204px; opacity: 0;}
	100% {top:204px; opacity: 0;}
}

@-webkit-keyframes Frame2_text02A_animation {
	0% { top: 270px;opacity: 0;}
	42% {top: 270px;opacity: 0;}
	48% {top: 250px; opacity: 1;}
	82% {top: 250px; opacity: 1;}
	86% {top: 230px; opacity: 0;}
	100% {top: 230px; opacity: 0;}
}

@-webkit-keyframes Frame2_text02B_animation {
	0% { top: 317px; opacity: 0; transform: scale(1,1);}
	44% {top: 317px; opacity: 0; transform: scale(1,1);}
	50% {top: 297px; opacity: 1; transform: scale(1,1);}
	60% {top: 297px; opacity: 1; transform: scale(1,1);}
	65% {top: 297px; opacity: 1; transform: scale(1.5,1.5);}
	82% {top: 297px; opacity: 1; transform: scale(1.5,1.5);}
	86% {top: 277px; opacity: 0; transform: scale(1.5,1.5);}
	100% {top: 277px; opacity: 0; transform: scale(1.5,1.5);}
}

@-webkit-keyframes Frame2_text02C_animation {
	0% { top: 414px; opacity: 0;}
	46% {top: 414px; opacity: 0;}
	52% {top: 391px; opacity: 1;}
	82% {top: 391px; opacity: 1;}
	86% {top: 371px; opacity: 0;}
	86% {top: 371px; opacity: 0;}
	100% {top: 371px; opacity: 0;}
}

@-webkit-keyframes Frame4_text04A_animation {
	0% {top: 193px; left:37px; opacity: 0;}
	87% {top: 193px; left:37px; opacity: 0;}
	93% {top: 173px; opacity: 1;}
	100% {top: 173px; opacity: 1;}
}

@-webkit-keyframes Frame4_text04B_animation {
	0% {top: 193px; left:132px; opacity: 0;}
	87% {top: 193px; left:132px; opacity: 0;}
	93% {top: 173px; opacity: 1;}
	100% {top: 173px; opacity: 1;}
}

@-webkit-keyframes Frame4_text04H_animation {
	0% {top: 358px; opacity: 0;}
	91% {top: 358px; opacity: 0;}
	97% {top: 338px; opacity: 1;}
	100% {top: 338px; opacity: 1;}
}

@-webkit-keyframes Frame4_text04G_animation {
	0% {top: 299px; opacity: 0;}
	92% {top: 299px; opacity: 0;}
	97% {top: 279px; opacity: 1;}
	100% {top: 279px; opacity: 1;}
}

@-webkit-keyframes Frame4_text04F_animation {
	0% {top: 241px; opacity: 0;}
	93% {top: 241px; opacity: 0;}
	97% {top: 221px; opacity: 1;}
	100% {top: 221px; opacity: 1;}
}

@-webkit-keyframes Frame4_text04E_animation {
	0% {top: 358px; opacity: 0;}
	94% {top: 358px; opacity: 0;}
	97% {top: 338px; opacity: 1;}
	100% {top: 338px; opacity: 1;}
}

@-webkit-keyframes Frame4_text04D_animation {
	0% {top: 299px; opacity: 0;}
	95% {top: 299px; opacity: 0;}
	97% {top: 279px; opacity: 1;}
	100% {top: 279px; opacity: 1;}
}

@-webkit-keyframes Frame4_text04C_animation {
	0% {top: 240px; opacity: 0;}
	96% {top: 240px; opacity: 0;}
	97% {top: 220px; opacity: 1;}
	100% {top: 220px; opacity: 1;}
}

@-webkit-keyframes giBut_animation {
	0% {top: 600px; opacity: 0;}
	87% {top: 600px;opacity: 0;}
	92% {top: 430px; opacity: 1;}
	100% {top: 430px; opacity: 1;}
}

@-webkit-keyframes Frame4_text04I_animation {
	0% {top: 600px;opacity: 0;}
	87% {top: 600px;opacity: 0;}
	92% {top: 496px; opacity: 1;}
	100% {top: 496px; opacity: 1;}
}

@-webkit-keyframes Frame4_text04J_animation {
	0% {top: 600px;opacity: 0;}
	87% {top: 600px;opacity: 0;}
	92% {top: 560px; opacity: 1;}
	100% {top: 560px; opacity: 1;}
}

@-webkit-keyframes Frame4_text04K_animation {
	0% {top: 600px;opacity: 0;}
	87% {top: 600px;opacity: 0;}
	92% {top: 578px; opacity: 1;}
	100% {top: 578px; opacity: 1;}
}

@-webkit-keyframes Frame4_text04L_animation {
	0% {top: 600px;opacity: 0;}
	87% {top: 600px;opacity: 0;}
	92% {top: 578px; opacity: 1;}
	100% {top: 578px; opacity: 1;}
}

/*FIREFOX*/
@-moz-keyframes logo_animation {
	0% {transform: scale(5,5); opacity: 0; left: 72px;}
	1% {tranform: scale(1,1); opacity: 1; left: 42px;}
	100% {tranform: scale(1,1); opacity: 1; left:42px;}
}

@-moz-keyframes yellowBk_animation {
	0% { top: 600px;}
	12% {top: 140px;}
	84% {top: 140px;}
	88%{top:-48px;}
	100% {top: -48px;}
}

@-moz-keyframes Frame1_text01B_animation {
	0% {top: 244px; opacity: 0;}
	12% {top: 244px; opacity: 0;}
	18% {top:224px; opacity: 1;}
	38% {top:224px; opacity: 1;}
	41% {top:204px; opacity: 0;}
	100% {top:204px; opacity: 0;}
}

@-moz-keyframes Frame2_text02A_animation {
	0% { top: 270px;opacity: 0;}
	42% {top: 270px;opacity: 0;}
	48% {top: 250px; opacity: 1;}
	82% {top: 250px; opacity: 1;}
	86% {top: 230px; opacity: 0;}
	100% {top: 230px; opacity: 0;}
}

@-moz-keyframes Frame2_text02B_animation {
	0% { top: 317px; opacity: 0; transform: scale(1,1);}
	44% {top: 317px; opacity: 0; transform: scale(1,1);}
	50% {top: 297px; opacity: 1; transform: scale(1,1);}
	60% {top: 297px; opacity: 1; transform: scale(1,1);}
	65% {top: 297px; opacity: 1; transform: scale(1.5,1.5);}
	82% {top: 297px; opacity: 1; transform: scale(1.5,1.5);}
	86% {top: 277px; opacity: 0; transform: scale(1.5,1.5);}
	100% {top: 277px; opacity: 0; transform: scale(1.5,1.5);}
}

@-moz-keyframes Frame2_text02C_animation {
	0% { top: 414px; opacity: 0;}
	46% {top: 414px; opacity: 0;}
	52% {top: 391px; opacity: 1;}
	82% {top: 391px; opacity: 1;}
	86% {top: 371px; opacity: 0;}
	86% {top: 371px; opacity: 0;}
	100% {top: 371px; opacity: 0;}
}

@-moz-keyframes Frame4_text04A_animation {
	0% {top: 193px; left:37px; opacity: 0;}
	87% {top: 193px; left:37px; opacity: 0;}
	93% {top: 173px; opacity: 1;}
	100% {top: 173px; opacity: 1;}
}

@-moz-keyframes Frame4_text04B_animation {
	0% {top: 193px; left:132px; opacity: 0;}
	87% {top: 193px; left:132px; opacity: 0;}
	93% {top: 173px; opacity: 1;}
	100% {top: 173px; opacity: 1;}
}

@-moz-keyframes Frame4_text04H_animation {
	0% {top: 358px; opacity: 0;}
	91% {top: 358px; opacity: 0;}
	97% {top: 338px; opacity: 1;}
	100% {top: 338px; opacity: 1;}
}

@-moz-keyframes Frame4_text04G_animation {
	0% {top: 299px; opacity: 0;}
	92% {top: 299px; opacity: 0;}
	97% {top: 279px; opacity: 1;}
	100% {top: 279px; opacity: 1;}
}

@-moz-keyframes Frame4_text04F_animation {
	0% {top: 241px; opacity: 0;}
	93% {top: 241px; opacity: 0;}
	97% {top: 221px; opacity: 1;}
	100% {top: 221px; opacity: 1;}
}

@-moz-keyframes Frame4_text04E_animation {
	0% {top: 358px; opacity: 0;}
	94% {top: 358px; opacity: 0;}
	97% {top: 338px; opacity: 1;}
	100% {top: 338px; opacity: 1;}
}

@-moz-keyframes Frame4_text04D_animation {
	0% {top: 299px; opacity: 0;}
	95% {top: 299px; opacity: 0;}
	97% {top: 279px; opacity: 1;}
	100% {top: 279px; opacity: 1;}
}

@-moz-keyframes Frame4_text04C_animation {
	0% {top: 240px; opacity: 0;}
	96% {top: 240px; opacity: 0;}
	97% {top: 220px; opacity: 1;}
	100% {top: 220px; opacity: 1;}
}

@-moz-keyframes giBut_animation {
	0% {top: 600px; opacity: 0;}
	87% {top: 600px;opacity: 0;}
	92% {top: 430px; opacity: 1;}
	100% {top: 430px; opacity: 1;}
}

@-moz-keyframes Frame4_text04I_animation {
	0% {top: 600px;opacity: 0;}
	87% {top: 600px;opacity: 0;}
	92% {top: 496px; opacity: 1;}
	100% {top: 496px; opacity: 1;}
}

@-moz-keyframes Frame4_text04J_animation {
	0% {top: 600px;opacity: 0;}
	87% {top: 600px;opacity: 0;}
	92% {top: 560px; opacity: 1;}
	100% {top: 560px; opacity: 1;}
}

@-moz-keyframes Frame4_text04K_animation {
	0% {top: 600px;opacity: 0;}
	87% {top: 600px;opacity: 0;}
	92% {top: 578px; opacity: 1;}
	100% {top: 578px; opacity: 1;}
}

@-moz-keyframes Frame4_text04L_animation {
	0% {top: 600px;opacity: 0;}
	87% {top: 600px;opacity: 0;}
	92% {top: 578px; opacity: 1;}
	100% {top: 578px; opacity: 1;}
}

/*IE*/
@keyframes logo_animation {
	0% {transform: scale(5,5); opacity: 0; left: 72px;}
	1% {tranform: scale(1,1); opacity: 1; left: 42px;}
	100% {tranform: scale(1,1); opacity: 1; left:42px;}
}

@keyframes yellowBk_animation {
	0% { top: 600px;}
	12% {top: 140px;}
	84% {top: 140px;}
	88%{top:-48px;}
	100% {top: -48px;}
}

@keyframes Frame1_text01B_animation {
	0% {top: 244px; opacity: 0;}
	12% {top: 244px; opacity: 0;}
	18% {top:224px; opacity: 1;}
	38% {top:224px; opacity: 1;}
	41% {top:204px; opacity: 0;}
	100% {top:204px; opacity: 0;}
}

@keyframes Frame2_text02A_animation {
	0% { top: 270px;opacity: 0;}
	42% {top: 270px;opacity: 0;}
	48% {top: 250px; opacity: 1;}
	82% {top: 250px; opacity: 1;}
	86% {top: 230px; opacity: 0;}
	100% {top: 230px; opacity: 0;}
}

@keyframes Frame2_text02B_animation {
	0% { top: 317px; opacity: 0; transform: scale(1,1);}
	44% {top: 317px; opacity: 0; transform: scale(1,1);}
	50% {top: 297px; opacity: 1; transform: scale(1,1);}
	60% {top: 297px; opacity: 1; transform: scale(1,1);}
	65% {top: 297px; opacity: 1; transform: scale(1.5,1.5);}
	82% {top: 297px; opacity: 1; transform: scale(1.5,1.5);}
	86% {top: 277px; opacity: 0; transform: scale(1.5,1.5);}
	100% {top: 277px; opacity: 0; transform: scale(1.5,1.5);}
}

@keyframes Frame2_text02C_animation {
	0% { top: 414px; opacity: 0;}
	46% {top: 414px; opacity: 0;}
	52% {top: 391px; opacity: 1;}
	82% {top: 391px; opacity: 1;}
	86% {top: 371px; opacity: 0;}
	86% {top: 371px; opacity: 0;}
	100% {top: 371px; opacity: 0;}
}

@keyframes Frame4_text04A_animation {
	0% {top: 193px; left:37px; opacity: 0;}
	87% {top: 193px; left:37px; opacity: 0;}
	93% {top: 173px; opacity: 1;}
	100% {top: 173px; opacity: 1;}
}

@keyframes Frame4_text04B_animation {
	0% {top: 193px; left:132px; opacity: 0;}
	87% {top: 193px; left:132px; opacity: 0;}
	93% {top: 173px; opacity: 1;}
	100% {top: 173px; opacity: 1;}
}

@keyframes Frame4_text04H_animation {
	0% {top: 358px; opacity: 0;}
	91% {top: 358px; opacity: 0;}
	97% {top: 338px; opacity: 1;}
	100% {top: 338px; opacity: 1;}
}

@keyframes Frame4_text04G_animation {
	0% {top: 299px; opacity: 0;}
	92% {top: 299px; opacity: 0;}
	97% {top: 279px; opacity: 1;}
	100% {top: 279px; opacity: 1;}
}

@keyframes Frame4_text04F_animation {
	0% {top: 241px; opacity: 0;}
	93% {top: 241px; opacity: 0;}
	97% {top: 221px; opacity: 1;}
	100% {top: 221px; opacity: 1;}
}

@keyframes Frame4_text04E_animation {
	0% {top: 358px; opacity: 0;}
	94% {top: 358px; opacity: 0;}
	97% {top: 338px; opacity: 1;}
	100% {top: 338px; opacity: 1;}
}

@keyframes Frame4_text04D_animation {
	0% {top: 299px; opacity: 0;}
	95% {top: 299px; opacity: 0;}
	97% {top: 279px; opacity: 1;}
	100% {top: 279px; opacity: 1;}
}

@keyframes Frame4_text04C_animation {
	0% {top: 240px; opacity: 0;}
	96% {top: 240px; opacity: 0;}
	97% {top: 220px; opacity: 1;}
	100% {top: 220px; opacity: 1;}
}

@keyframes giBut_animation {
	0% {top: 600px; opacity: 0;}
	87% {top: 600px;opacity: 0;}
	92% {top: 430px; opacity: 1;}
	100% {top: 430px; opacity: 1;}
}

@keyframes Frame4_text04I_animation {
	0% {top: 600px;opacity: 0;}
	87% {top: 600px;opacity: 0;}
	92% {top: 496px; opacity: 1;}
	100% {top: 496px; opacity: 1;}
}

@keyframes Frame4_text04J_animation {
	0% {top: 600px;opacity: 0;}
	87% {top: 600px;opacity: 0;}
	92% {top: 560px; opacity: 1;}
	100% {top: 560px; opacity: 1;}
}

@keyframes Frame4_text04K_animation {
	0% {top: 600px;opacity: 0;}
	87% {top: 600px;opacity: 0;}
	92% {top: 578px; opacity: 1;}
	100% {top: 578px; opacity: 1;}
}

@keyframes Frame4_text04L_animation {
	0% {top: 600px;opacity: 0;}
	87% {top: 600px;opacity: 0;}
	92% {top: 578px; opacity: 1;}
	100% {top: 578px; opacity: 1;}
}